mixin iterate(className, items)
	div(class= className)
		ul(class= className + "__list")
			-for(var item in items)
				li(class=className + "__item ")
					a(href=items[item] target="blank" class= className + "__link_" + item)= item
mixin nav(className, items, activeIndex)
	nav(class= className)
		div(class=className + "__container")
			ul(class= className + "__list")
				-var index = 0
				-for(var item in items)
					-index++
					li(class=className + ((activeIndex == index) ? ('__item' + '_active') : '__item'))
						a(href=items[item] class= className + "__link")= item
		if block
			block

mixin colorList(colors)
	ul(class="colors__list accordion__inner__list")
		-for(var item=1;item<=colors;item++)
			li(class="accordion__inner__item color__item_"+item)
mixin content-detailed-list(products)
	ul.detailed-list__list
		-for(var ind in products)
			li(class='detailed-list__item')
				.slideshow-block
					.slideshow__main
						img.slideshow__main__picture(src=products[ind].imgPath.img1 alt="slideshow_pic1")
					ul.slideshow__list.clearfix
						li.slideshow__item.clearfix.active
							a.slideshow__item__link(href="#")
								img.slide-show__item__pic(src=products[ind].imgPath.img1 alt="slideshow_pic1")
						li.slideshow__item.clearfix
							a.slideshow__item__link(href="#")
								img.slide-show__item__pic(src=products[ind].imgPath.img2 alt="slideshow_pic2")
						li.slideshow__item.clearfix
							a.slideshow__item__link(href="#")
								img.slide-show__item__pic(src=products[ind].imgPath.img3 alt="slideshow_pic3")
					.part-number-container
						span(class='part-number')='Артикул'
						span(class='part-number-value')= products[ind].partNumber
				.model-main-info
					h2.model-name= products[ind].modelName
					.desc-block= products[ind].description
					.rating-widget widget
				.to-basket
					.price= products[ind].price
						span.rouble-sign г
					form.to-basket__form(method="post" action="#" id="to-basket__form" name="to-basket__form")
						input.to-basket-button(type="button" name="to-basket-button" id="to-basket-button" value="В корзину")
					.availability-state
						.availability-state__available
							span.availability-state__text В наличии
mixin content-simple-list(products)
	ul.simple-list__list
		-for (var ind in products)
			li.simple-list__item.clearfix
				.part-number-container
					span(class='part-number')='Артикул'
					span(class='part-number-value')= products[ind].partNumber
				h2.model-name= 'Смартфон '+products[ind].modelName
				.price= products[ind].price
					span.rouble-sign г
				.availability-state
					.availability-state__available
						span.availability-state__text В наличии
				form.to-basket__form(method="post" action="#" id="to-basket__form" name="to-basket__form")
						input.to-basket-button(type="button" name="to-basket-button" id="to-basket-button" value="В корзину")

